@model Bangazon.Models.PaymentType

@{
    ViewData["Title"] = "Details";
}


<h1>@Html.DisplayFor(model => model.Description)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            @if (Model.Orders == null)
            {

            }
            else
            {

            <h5>Order History</h5>
            }

        </tr>
    </thead>

        @foreach (var item in Model.Orders)
        {
   
            <tbody>
                <tr class="col-sm-2">
                    @Html.ActionLink(item.DateCompleted.ToString(), // <-- Link text
                           "Details", // <-- Action Method Name
                           "Orders", // <-- Controller Name
                           new { id = item.OrderId }, // <-- Route value
                           null // <-- htmlArguments
                           )
                </tr>
            </tbody>
   
        }
    </table>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
